{% unless page.experimental %}
				<div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
					<a href="https://www.canada.ca/{{ page.lang }}.html" property="url">
						<img src="{{ site.assets }}/{{ site.theme-name }}/assets/sig-blk-{{ page.lang }}.svg" alt="page.i18n.tmpl-gc-wmms[page.lang]" property="logo" />
						<span class="wb-inv" property="name"> {{ page.i18n.tmpl-gc-sig[page.lang] }} / <span lang="{% if page.lang == 'en' %}fr">{{ page.i18n.tmpl-gc-sig["fr"] }}{% else %}en">{{ page.i18n.tmpl-gc-sig["en"] }}{% endif %}</span></span>
					</a>
					<meta property="areaServed" typeOf="Country" content="Canada" />
					<link property="logo" href="{{ site.assets }}/{{ site.theme-name }}/assets/wmms-blk.svg" />
				</div>
{% else %}
				<div class="brand col-xs-6">
					<a href="https://www.canada.ca/{{ page.lang }}.html">
						<span class="cndwrdmrk"><span class="wb-inv"> {{ page.i18n.tmpl-gc-wmms[page.lang] }}</span></span>
					</a>
				</div>
{% endunless %}