<div class="pagedetails{% if page.noMainContainer %} container{% endif %}">
	<div class="row">
		<div class="col-sm-6 col-md-5 col-lg-4">
			<details class="brdr-0">
				<summary class="btn btn-default text-center">{{ page.i18n.tmpl-feedback[page.lang] }}</summary>
				<div class="well row">
					{% include report-problem.html %}
				</div>
			</details>
		</div>
		{% if page.share %}
		<div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
		{% endif %}
	</div>
	<dl id="wb-dtmd">
		<dt>{{ page.i18n.tmpl-date-mod[page.lang] }}:{{ page.i18n.tmpl-space[page.lang] }}</dt>
		<dd><time property="dateModified">{% if page.dateModified %}{{ page.dateModified }}{% else %}{{ include.content }}{% endif %}</time></dd>
	</dl>
</div>
