
	<header>
		<div id="wb-bnr" class="container">
		{% if page.langtoggle %}{% include languagetoggle.html %}{% endif %}
			<div class="row">
			{% include brand.html %}
			{% if page.sitesearch %}{% include sitesearch.html %}{% endif %}
			</div>
		</div>
	{% if page.sitemenu %}
	{% include sitemenu.html %}
	{% else %}
		<span data-trgt="mb-pnl" class="wb-menu hide"></span>
	{% endif %}
	{% if page.breadcrumbs %}
	{% include breadcrumbs.html %}
	{% endif %}
	{% if page.signed %}
	{% include sign-on-off.html %}
	{% endif %}
	</header>
