	<section id="wb-lng" class="text-right">
				<h2 class="wb-inv">{{ page.i18n.tmpl-lang-select[page.lang] }}</h2>
				<ul class="list-inline margin-bottom-none">{% if page.lang == "en" %}
					<li><a lang="fr" hreflang="fr" href="/fr/{{ page.altLangPrefix }}.html">{{ page.i18n.tmpl-lang-native["fr"] }}</a></li>{% endif %}
					{% if page.lang == "fr" %}
					<li><a lang="en" hreflang="en" href="/en/{{ page.altLangPrefix }}.html">{{ page.i18n.tmpl-lang-native["en"] }}</a></li>{% endif %}
				</ul>
			</section>
