<aside class="jumbotron sub-promo visible-md visible-lg">
	<div class="container">
		<div class="row">
			<h2 class="wb-inv">{{ page.i18n.tmpl-promo-title[page.lang] }}</h2>
			<figure class="col-md-12">
				<img src="{{ assets }}/img/promos/{{ page.img-subpromo }}" alt="" />
				<figcaption class="col-md-3 col-md-offset-1 margin-top-medium">
					<h2 class="h3">{{ page.title-subpromo }}</h2>
					<p class="subtext">{{ page.text-subpromo }}</p>
					<p>
						<a href="#" class="btn btn-primary margin-top-large">{{ page.cta-subpromo }}</a>
					</p>
				</figcaption>
			</figure>
		</div>
	</div>
</aside>
