<aside class="prm-flpr">
	<div class="container">
		<h2 class="wb-inv">{{ page.i18n.tmpl-promo-title[page.lang] }}</h2>
		<div class="wb-tabs carousel-s2 show-thumbs playing slow">
			<ul role="tablist">
				<li class="active">
					<a href="#tab1"><img src="{{ assets }}/img/promos/{{ page.img-promo1 }}" alt="" /><span class="wb-inv">{% if page.lang == "en" %}Tab 1: {{ page.desc-promo1 }} {% else %}Languette 1 : {{ page.desc-promo1 }} {% endif %}</span></a>
				</li>
				<li>
					<a href="#tab2"><img src="{{ assets }}/img/promos/{{ page.img-promo2 }}" alt="" /><span class="wb-inv">{% if page.lang == "en" %}Tab 2: {{ page.desc-promo2 }} {% else %}Languette 2 : {{ page.desc-promo2 }} {% endif %}</span></a>
				</li>
				<li>
					<a href="#tab3"><img src="{{ assets }}/img/promos/{{ page.img-promo3 }}" alt="" /><span class="wb-inv">{% if page.lang == "en" %}Tab 3: {{ page.desc-promo3 }} {% else %}Languette 3 : {{ page.desc-promo3 }} {% endif %}</span></a>
				</li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="tab1" class="in fade">
					<a href="#" class="learnmore">
						<figure>
							<img src="{{ assets }}/img/promos/{{ page.img-promo1 }}" alt="" />
							<figcaption>
								<p>{{ page.desc-promo1 }}</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div role="tabpanel" id="tab2" class="out fade">
					<a href="#" class="learnmore">
						<figure>
							<img src="{{assets}}/img/promos/{{ page.img-promo2 }}" alt="" />
							<figcaption>
								<p>{{ page.desc-promo2 }}</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div role="tabpanel" id="tab3" class="out fade">
					<a href="#" class="learnmore">
						<figure>
							<img src="{{ assets }}/img/promos/{{ page.img-promo3 }}" alt="" />
							<figcaption>
								<p>{{ page.desc-promo3 }}</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
		</div>
	</div>
</aside>
