/*
Theme Name: [fw] Child
Theme URI: http://habitatseven.com
Author: Habitat Seven
Author URI: http://habitatseven.com
Template: fw-parent
Version: 1.0
Text Domain:
*/
@import url(./resources/css/child.css);
